*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.flex{
    display: flex;
}

.white{
    color:white;
}

.gray-background{
background-color: rgba(128, 128, 128, 0.5);
}

header{
    justify-content: flex-end;
    padding: 1rem;
}

.container{
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}
main{
margin:2rem 0;
}

main section{
    justify-content: space-around;
}

.box-utente{
    
    width: calc(96%/7);
    height:calc(96%5) ;
    align-items: flex-end;
    position: relative;
    margin-bottom:0.5rem ;
   
}

img{
    width: 100%;
}

.nome-utente{
    position: absolute;
    left:0;
    bottom:0;
    font-size:1vw ;
}

nav{
    justify-content: space-between;
    padding: 1rem;
}

nav .middle-section {
    width: 50vw ;
    justify-content: space-around;
    text-align: center;
}

.nav-section{
    text-align: center;
    align-items: center;
}
