*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.flex{
    display: flex;
}

.white{
    color:white;
}

.gray-background{
background-color:rgba(107, 102, 102, 0.543);
}

header{
    justify-content: flex-end;
    padding: 1rem;
}

.head-section{
margin-left: 0.5rem;
padding: 0.3rem;
border-radius: 5px;
gap: 0.3rem;
}

.container{
    min-width: 80%;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}
main{
margin:2rem 0;
/*overflow-y: scroll;*/
}

main section{
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-utente{
    min-width: 100px;
    width: calc(96%/7);
    height:calc(96%5) ;
    align-items: flex-end;
    position: relative;
    margin-bottom:0.5rem ;
    flex-wrap: wrap;
   
}

img{
    width: 100%;
}

.nome-utente{
    position: absolute;
    left:0;
    bottom:0;
    font-size:1vw ;
}

nav{
    justify-content: space-between;
}

nav .middle-section {
    width: 45vw ;
    justify-content: space-around;
    text-align: center;
    padding: 1rem;
}

.nav-section{
    text-align: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

#share{
    color: green;
}

#recording{
    color: red;
}